<provide(:title,'Recommendation')>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<h1>We recommend these restaurant for you:</h1>
<div class="container">
<div class="row">
	<div class="col-sm-10">
	<form role="form" action='arestaurant'>
		<div class="form-group">
			<div class="col-xs-3">
				<input type="text" name = "name" class="form-control" placeholder="restaurant's name">
			</div>
		</div>
		<div class="form-group">
			<input type="submit" value="Search" class="btn btn-primary">
		</div>
	</form>
	<div>
		
			<a href="search?method=location" role="button" class="btn btn-primary">Sort by Location</a>
		
		
			<a href="search?method=user" role="button" class="btn btn-primary">Sort by User Recommendation</a>

		
			<a href="search?method=rating" role="button" class="btn btn-primary">Sort by Business Rating</a>
		
	</div>
	
</div>
<div>
<br><br>
<br><br>
<br><br>
<% name = cookies[:username]%>
<% method = params[:method]%>
<%=name%>
<%=method%>
<ul class="list-group">
<%
require 'moneta'
store=Moneta.new(:File, dir: 'moneta')
print name+"\n"

if method==nil
	#default
	method="user"
end

print method+"\n==================="


key=name+method;
						  					  
print "take 2the fetch from local\n\n"
matrix=store[key]

	 for row in matrix%>

	<li class="list-group-item">
		<div class="row">
			<div class="col-sm-6">
				Name:
				<%= row[0] %>
				<br>
				Address:
				<%= row[1] %>
				<br>
				City:
				<%= row[2] %>
				<br>
				State:
				<%= row[3] %>
				<br>
				Stars:
				<%= row[4] %>
				<br>
			</div>
			<div class="col-sm-6">
				<%BingSearch.account_key='OQjobovJhpYgpIjDnC30TH/FOzw5Itq8eYTySpbfZGw'%>
				<%result = BingSearch.image(row[0]).first %>
				<%if result!=nil%>
					<%= image_tag(result.media_url,:alt=>"Image",:title=>row[2],:height=>"100",:width=>"100")%>
				<%end%>
			</div>
		</div>	
	</li>
	<%end%>
</ul>
</div>