  <script type="text/javascript"
          src="https://maps.googleapis.com/maps/api/js?&sensor=true">
  </script>

  <script type="text/javascript">

      function getLocation(){
          {
              if (navigator.geolocation)
              {
                  navigator.geolocation.getCurrentPosition(showPosition);
              }
              else{x.innerHTML="Geolocation is not supported by this browser.";}
          }

      }

      function showPosition(position) {
          var latitude  = position.coords.latitude;
          var longitude = position.coords.longitude;
            $.ajax({
    url: 'testloc',
    type: 'GET',
    data:     {'la':latitude, 'lo':longitude}
  });

          //alert('latitude:' + latitude + 'longitude:' + longitude )
//document.getElementById("latitude").innerHTML = latitude.toString();


// function sendParams(q){
//   $.ajax({
//     url: 'testloc',
//     type: 'GET',
//     data:     {'la':latitude, 'lo':longitude}
//   });
// }
// sendParams("test");

<%
require 'active_support'
print "\n\n\n\n\n=========123============="
#laa=ActiveSupport::JSON.decode(CGI.unescapeHTML(params[:la]))
print params[:la]
print "===321"
if params[:la]!=nil
	cookies[:la]=params[:la]
	cookies[:lo]=params[:lo]
end
%>


       //   This function is supposed to return the current latitude and longitude of user
       //   example: 48.1673341, 17.0830998

      }


      function initialize() {

          var mapOptions = {


         //    How to pass the result from function showPosition to LatLng ?
         //    see the line below:                
         center: new google.maps.LatLng(48.1673341,17.0830998),
              zoom: 13,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map-canvas"),
                  mapOptions);

      }

      google.maps.event.addDomListener(window, 'load', initialize);

  $(document).ready(function(){     //  events before the windows loads
    getLocation();

  });


  </script>






<provide(:title,'Recommendation')>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<h1>We recommend these restaurant for you:</h1>
<div class="container">
<div class="row">
	<div class="col-sm-10">
	<form role="form" action='arestaurant'>
		<div class="form-group">
			<div class="col-xs-3">
				<input type="text" name = "name" class="form-control" placeholder="restaurant's name">
			</div>
		</div>
		<div class="form-group">
			<input type="submit" value="Search" class="btn btn-primary">
		</div>
	</form>
	<div>
		
			<a href="search?method=location" role="button" class="btn btn-primary">Sort by Location</a>
		
		
			<a href="search?method=user" role="button" class="btn btn-primary">Sort by User Recommendation</a>

			<a href="search?method=simiuser" role="button" class="btn btn-primary">Sort by Similar User Recommendation</a>
		
			<a href="search?method=rating" role="button" class="btn btn-primary">Sort by Business Rating</a>
		
	</div>
	
</div>
<div>
<br><br>
<br><br>
<br><br>
<% name = cookies[:username]%>
<% method = params[:method]%>
<%=name%>
<%=method%>
<ul class="list-group">
<%
require 'moneta'
store=Moneta.new(:File, dir: 'moneta')
print name+"\n"

if method==nil
	#default
	method="rating"
end

print method+"\n==================="


key=name+method;
						  					  
print "take 2the fetch from local\n\n"
matrix=store[key]

	 for row in matrix%>

	<li class="list-group-item">
		<div class="row">
			<div class="col-sm-6">
				Name:
				<%add='testmap?address='+row[1].gsub(" ","_")%>

				<%= link_to row[0], add %>
				<br>
				Address:
				<%= row[1] %>
				<br>
				City:
				<%= row[2] %>
				<br>
				State:
				<%= row[3] %>
				<br>
				Stars:
				<%= row[4] %>
				<br>
			</div>
			<div class="col-sm-6">
				<%BingSearch.account_key='OQjobovJhpYgpIjDnC30TH/FOzw5Itq8eYTySpbfZGw'%>
				<%result = BingSearch.image(row[0]).first %>
				<%if result!=nil%>
					<%= image_tag(result.media_url,:alt=>"Image",:title=>row[2],:height=>"100",:width=>"100")%>
				<%end%>
			</div>
		</div>	
	</li>
	<%end%>
</ul>
</div>