<provide(:title,'Details')>
<h1>Detail information about the restaurant</h1>
<p>
<% name = params[:name] %>
<% conn = OCI8.new('jackchen','cis5502015','jackdb.cipsboubatuq.us-east-1.rds.amazonaws.com:1521/TESTRDS')%>
<% sql = "select * from business where name LIKE \'\%"+name+"\%\'" %>
<ul class="list-group">
<% conn.exec(sql).fetch do |row|%>
<li class="list-group-item">
	Name:
<%= row[2] %>
<br>
	Address:
<%= row[3] %>
<br>
	City:
<%= row[4] %>
<br>
	State:
<%= row[5] %>
<br>
	Stars:
<%= row[8] %>
<br>
	Open:
<%= row[10] %>
<br>
<%BingSearch.account_key='OQjobovJhpYgpIjDnC30TH/FOzw5Itq8eYTySpbfZGw'%>
<%result = BingSearch.image(row[2]).first %>
<%if result!=nil%>
<%= image_tag(result.media_url,:alt=>"Image",:title=>row[2],:height=>"100",:width=>"100")%>
<%end%>
</li>
<% end%>
</ul>
<%conn.logoff%>
</p>
