<p>Manage My Account</p>
<br>

<div class="row">
	<div class="col-md-2">
		<h2>Menu</h2>
		<div class="btn-group-vertical" role="group" aria-label="">
			<form role="form" action='search'>
					<input type="submit" class="btn btn-primary" value="See the Recommendation"</input>
			</form>
			<br>
			<form role="form" action='recom'>
				<input type="submit" class="btn btn-primary" value="Update Your Favorite Tag"</input>
			</form>
			<br>
			<form role="form" action='addfriend'>
					<input type="submit" class="btn btn-primary" value="Add A Friend"</input>
			</form>
			<br>
		</div>
	</div>
	<div class="col-md-10">
		<h2>Your friends' review</h2>
		
			<a href="my_account?review=stars" role="button" class="btn btn-primary">Sort by Stars</a>
		
		
			<a href="my_account?review=funny" role="button" class="btn btn-primary">Sort by Votes Funny</a>

			<a href="my_account?review=useful" role="button" class="btn btn-primary">Sort by Votes Useful</a>

			<a href="my_account?review=cool" role="button" class="btn btn-primary">Sort by Votes Cool</a>
		
		<ul class="list-group">
			<%
			print 7
			review = params[:review]
			if review==nil
				review="default"
			end
			sql = "select business.name,yelp_user.name,business.stars,text,dates,votes_funny,votes_useful,votes_cool from friends,review,yelp_user,business where business.business_id=review.business_id and review.user_id=yelp_user.user_id and friends.username2=yelp_user.name and friends.username1='"+cookies[:username]+"' and rownum<=10"
			print 8
			if review=="stars"
				sql="select business.name,yelp_user.name,business.stars,text,dates,votes_funny,votes_useful,votes_cool from friends,review,yelp_user,business where business.business_id=review.business_id and review.user_id=yelp_user.user_id and friends.username2=yelp_user.name and friends.username1='"+cookies[:username]+"' and rownum<=10 order by stars desc"         
      		end
      		if review=="funny"
				sql="select business.name,yelp_user.name,business.stars,text,dates,votes_funny,votes_useful,votes_cool from friends,review,yelp_user,business where business.business_id=review.business_id and review.user_id=yelp_user.user_id and friends.username2=yelp_user.name and friends.username1='"+cookies[:username]+"' and rownum<=10 order by votes_funny"         
      		end
      		if review=="cool"
				sql="select business.name,yelp_user.name,business.stars,text,dates,votes_funny,votes_useful,votes_cool from friends,review,yelp_user,business where business.business_id=review.business_id and review.user_id=yelp_user.user_id and friends.username2=yelp_user.name and friends.username1='"+cookies[:username]+"' and rownum<=10 order by votes_cool"         
      		end
      		if review=="useful"
				sql="select business.name,yelp_user.name,business.stars,text,dates,votes_funny,votes_useful,votes_cool from friends,review,yelp_user,business where business.business_id=review.business_id and review.user_id=yelp_user.user_id and friends.username2=yelp_user.name and friends.username1='"+cookies[:username]+"' and rownum<=10 order by votes_useful"         
      		end
			#conn = OCI8.new('jackchen','cis5502015','jackdb.cipsboubatuq.us-east-1.rds.amazonaws.com:1521/TESTRDS')
			print 9





						require 'moneta'
						  
						  # Create a simple file store
						  store = Moneta.new(:File, dir: 'moneta')
						  
						  
						  #		ids=[]
						  #
						  #		conn.exec(sql).fetch do |row|
						  #			ids<<row[0]
						  #		end
						  
						  #		store[key]=ids
						  
						  key=cookies[:username]+"account"+review;
						  
						  
print "checking local\n\n"
						  if store.key?(key)
							  else
print "start to fetch\n\n"
							  
							  
							  matrix=[]
							  
							  conn = OCI8.new('jackchen','cis5502015','jackdb.cipsboubatuq.us-east-1.rds.amazonaws.com:1521/TESTRDS')
							 
                                  
							  conn.exec(sql).fetch do |row|
									matrix<<row
							  end
							  conn.logoff
							  store[key]=matrix
print "finished to fetch\n\n"
						  end
						  
print "take the fetch from local\n\n"
						  matrix=store[key]
						  
						  store.close
















			for row in matrix
				%>
				<li class="list-group-item">
				Business Name:
				<%= row[0]%>
				<br>
				Friend's Name:
				<%= row[1]%>
				<br>
				Stars:
				<%= row[2]%>
				<br>
				Dates:
				<%= row[4]%>
				<br>
				Votes Funny:
				<%= row[5]%>
				
				Votes Useful:
				<%= row[6]%>
				
				Votes Cool:
				<%= row[7]%>
				
				<br>
				Review:<br>
				<%= row[3]%>
				<br>
			</li>
			<%end
			print 10%>
		</ul>
	</div>
</div>
