<header class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">
			<%= link_to "The Yelp Recommendation App", root_path, id:"logo"%>
			<nav>
				<ul class="nav navbar-nav navbar-right">
					<li><%= link_to "Home", root_path%></li>
						<% if cookies[:username]==nil%>
							<li><%= link_to "Log in", 'signin' %></li>
						<% else%>
							<li><%= link_to "Search", 'search' %></li>
							<li><%= link_to "My Account", 'my_account' %></li>
							<li><%= link_to "Log Out", 'signout' %></li>
						<% end %>
				</ul>
			</nav>
		</div>
	</header>